.header {
    width: 100%;
    position: relative;
    top: auto;
    z-index: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navMenu {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navLinkLogo {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
}

.navLink:hover {
    color: #ff6347;
}